USE [master]
GO
/****** Object:  Database [Demo]    Script Date: 15.10.2025 11:32:55 ******/
CREATE DATABASE [Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Demo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Demo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertFromUTF8]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ConvertFromUTF8](@utf8Data VARBINARY(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    RETURN CAST(@utf8Data AS NVARCHAR(MAX))
END
GO
/****** Object:  UserDefinedFunction [dbo].[UTF8_TO_NVARCHAR]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UTF8_TO_NVARCHAR](@utf8Data VARBINARY(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    RETURN CONVERT(NVARCHAR(MAX), @utf8Data)
END
GO
/****** Object:  Table [dbo].[Заказчики]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказчики](
	[ID] [int] NOT NULL,
	[Название] [nvarchar](50) NULL,
	[ИНН] [nvarchar](50) NULL,
	[Адрес] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[IsSalesman] [bit] NULL,
	[IsBuyer] [bit] NULL,
 CONSTRAINT [PK_Заказчики] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[№_заказа] [int] NOT NULL,
	[Продукция] [nchar](10) NULL,
	[Количество] [int] NULL,
	[Ед.изм] [nvarchar](50) NULL,
	[Цена] [int] NULL,
	[Сумма] [int] NULL,
	[ID_Заказчика] [int] NULL,
	[ID_Исполнителя] [int] NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[№_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Материалы]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материалы](
	[№_материала] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
	[Код] [nvarchar](50) NULL,
	[Количество] [int] NULL,
	[Ед.изм] [nvarchar](50) NULL,
 CONSTRAINT [PK_Материалы] PRIMARY KEY CLUSTERED 
(
	[№_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[должность] [nvarchar](100) NOT NULL,
	[логин] [nvarchar](50) NOT NULL,
	[пароль] [nvarchar](255) NOT NULL,
	[количество_неправильных_попыток_входа] [int] NULL,
	[isBlocked] [bit] NULL,
	[дата_последнего_захода] [date] NULL,
 CONSTRAINT [PK__users__3213E83FCA2E22F7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукция]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[№_продукции] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
	[Код] [nvarchar](50) NULL,
	[Ед.изм] [nchar](10) NULL,
 CONSTRAINT [PK_Продукция] PRIMARY KEY CLUSTERED 
(
	[№_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Производство]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производство](
	[№_производства] [int] NOT NULL,
	[Количество] [int] NULL,
	[№_продукции] [int] NULL,
 CONSTRAINT [PK_Производство] PRIMARY KEY CLUSTERED 
(
	[№_производства] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Спецификация продукции]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Спецификация продукции](
	[№_спецификации] [int] NOT NULL,
	[№_продукции] [int] NULL,
	[Количество] [int] NULL,
	[Изготовитель] [nvarchar](50) NULL,
	[Ед.изм] [nvarchar](50) NULL,
	[№_материала] [int] NULL,
 CONSTRAINT [PK_Спецификация продукции] PRIMARY KEY CLUSTERED 
(
	[№_спецификации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Цена]    Script Date: 15.10.2025 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Цена](
	[№_цены] [int] NOT NULL,
	[Продукция/Материалы] [nvarchar](50) NULL,
	[Цена] [int] NULL,
 CONSTRAINT [PK_Цена] PRIMARY KEY CLUSTERED 
(
	[№_цены] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказчики] ([ID], [Название], [ИНН], [Адрес], [Телефон], [IsSalesman], [IsBuyer]) VALUES (1, N'ООО "Поставка"', N'', N'г.Пятигорск', N'+79198634592', 1, 1)
INSERT [dbo].[Заказчики] ([ID], [Название], [ИНН], [Адрес], [Телефон], [IsSalesman], [IsBuyer]) VALUES (2, N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'+79884581555', 1, 0)
INSERT [dbo].[Заказчики] ([ID], [Название], [ИНН], [Адрес], [Телефон], [IsSalesman], [IsBuyer]) VALUES (3, N'ООО "Ромашка"', N'4140784214', N'г. Омск, ул. Строителей, 294', N'+79882584546', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([id], [должность], [логин], [пароль], [количество_неправильных_попыток_входа], [isBlocked], [дата_последнего_захода]) VALUES (1, N'Администратор', N'admin', N'testNew', 0, 0, CAST(N'2025-10-15' AS Date))
INSERT [dbo].[Пользователи] ([id], [должность], [логин], [пароль], [количество_неправильных_попыток_входа], [isBlocked], [дата_последнего_захода]) VALUES (2, N'Менеджерf', N'manager', N'$2y$10$rQ8N2pMzXJkZQZQZQZQZQ.', 0, 0, CAST(N'2025-09-13' AS Date))
INSERT [dbo].[Пользователи] ([id], [должность], [логин], [пароль], [количество_неправильных_попыток_входа], [isBlocked], [дата_последнего_захода]) VALUES (3, N'Аналитик', N'analyst', N'$2y$10$rQ8N2pMzXJkZQZQZQZQZQ.', 0, 0, CAST(N'2025-09-13' AS Date))
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Заказчики] FOREIGN KEY([ID_Заказчика])
REFERENCES [dbo].[Заказчики] ([ID])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Заказчики]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Заказчики1] FOREIGN KEY([ID_Исполнителя])
REFERENCES [dbo].[Заказчики] ([ID])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Заказчики1]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Цена] FOREIGN KEY([Цена])
REFERENCES [dbo].[Цена] ([№_цены])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Цена]
GO
USE [master]
GO
