USE [master]
GO
/****** Object:  Database [t]    Script Date: 14.09.2025 11:16:24 ******/
CREATE DATABASE [t]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N't', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\t.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N't_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\t_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [t].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [t]
GO
/****** Object:  Table [dbo].[users]    Script Date: 14.09.2025 11:16:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[должность] [nvarchar](100) NOT NULL,
	[логин] [nvarchar](50) NOT NULL,
	[пароль] [nvarchar](255) NOT NULL,
	[количество_неправильных_попыток_входа] [int] NULL,
	[isBlocked] [bit] NULL,
	[дата_последнего_захода] [date] NULL,
 CONSTRAINT [PK__users__3213E83FCA2E22F7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [должность], [логин], [пароль], [количество_неправильных_попыток_входа], [isBlocked], [дата_последнего_захода]) VALUES (1, N'Администратор', N'admin', N'testNew', 0, 0, CAST(N'2025-09-14' AS Date))
INSERT [dbo].[users] ([id], [должность], [логин], [пароль], [количество_неправильных_попыток_входа], [isBlocked], [дата_последнего_захода]) VALUES (2, N'Менеджерf', N'manager', N'$2y$10$rQ8N2pMzXJkZQZQZQZQZQ.', 0, 0, CAST(N'2025-09-13' AS Date))
INSERT [dbo].[users] ([id], [должность], [логин], [пароль], [количество_неправильных_попыток_входа], [isBlocked], [дата_последнего_захода]) VALUES (3, N'Аналитик', N'analyst', N'$2y$10$rQ8N2pMzXJkZQZQZQZQZQ.', 0, 0, CAST(N'2025-09-13' AS Date))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__5EB64DCCD30727AB]    Script Date: 14.09.2025 11:16:24 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__5EB64DCCD30727AB] UNIQUE NONCLUSTERED 
(
	[логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__количеств__37A5467C]  DEFAULT ((0)) FOR [количество_неправильных_попыток_входа]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__isBlocked__38996AB5]  DEFAULT ((0)) FOR [isBlocked]
GO
USE [master]
GO
